@import url(https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap);
:root {
  --primary: #181818;
  --secondary: #adadb8;
  --ternary: #21262d;
  --accent-color: #1ea5fc;
  --text-color: #222222;
  --background-light-gray: #f9fafb;
  --background-medium-gray: #f2f2f2;
  --border: #2b3037;
  --white: #fff;
  --off-white: #cccccc;
  --dark: #090c10;
  --slate-gray: #181818;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
.pT-1 {
  padding-top: 1rem;
}
.pT-2 {
  padding-top: 2rem;
}
.pT-3 {
  padding-top: 3rem;
}
.pT-4 {
  padding-top: 4rem;
}
.pR-1 {
  padding-right: 1rem;
}
.pR-2 {
  padding-right: 2rem;
}
.pR-3 {
  padding-right: 3rem;
}
.pR-4 {
  padding-right: 4rem;
}
.pB-1 {
  padding-bottom: 1rem;
}
.pB-2 {
  padding-bottom: 2rem;
}
.pB-3 {
  padding-bottom: 3rem;
}
.pB-4 {
  padding-bottom: 4rem;
}
.mT-0 {
  margin-top: 0;
}
.mT-1 {
  margin-top: 1rem;
}
.mT-2 {
  margin-top: 2rem;
}
.mT-3 {
  margin-top: 3rem;
}
.mT-4 {
  margin-top: 4rem;
}
.mB-1 {
  margin-bottom: 1rem;
}
.mB-2 {
  margin-bottom: 2rem;
}
.mB-3 {
  margin-bottom: 3rem;
}
.mB-4 {
  margin-bottom: 4rem;
}
.big-text-1 {
  font-size: 7rem;
}
.big-text-2 {
  font-size: 5.5rem;
}
.big-text-3 {
  font-size: 4rem;
}
.big-text-4 {
  font-size: 2.5rem;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 700;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
@media (min-width: 77.5rem) {
  .wrapper {
    max-width: 77.5rem;
  }
}
.row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
.column,
.column-1,
.column-10,
.column-11,
.column-12,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-extra-large-1,
.column-extra-large-10,
.column-extra-large-11,
.column-extra-large-12,
.column-extra-large-13,
.column-extra-large-2,
.column-extra-large-3,
.column-extra-large-4,
.column-extra-large-5,
.column-extra-large-6,
.column-extra-large-7,
.column-extra-large-8,
.column-extra-large-9,
.column-large-1,
.column-large-10,
.column-large-11,
.column-large-12,
.column-large-2,
.column-large-3,
.column-large-4,
.column-large-5,
.column-large-6,
.column-large-7,
.column-large-8,
.column-large-9,
.column-medium-1,
.column-medium-10,
.column-medium-11,
.column-medium-12,
.column-medium-2,
.column-medium-3,
.column-medium-4,
.column-medium-5,
.column-medium-6,
.column-medium-7,
.column-medium-8,
.column-medium-9,
.column-small-1,
.column-small-10,
.column-small-11,
.column-small-12,
.column-small-2,
.column-small-3,
.column-small-4,
.column-small-5,
.column-small-6,
.column-small-7,
.column-small-8,
.column-small-9 {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.column-1 {
  flex: 0 0 8.33%;
}
.column-2 {
  flex: 0 0 16.66%;
}
.column-3 {
  flex: 0 0 25%;
}
.column-4 {
  flex: 0 0 33.33%;
}
.column-5 {
  flex: 0 0 41.66%;
}
.column-6 {
  flex: 0 0 50%;
}
.column-7 {
  flex: 0 0 58.33%;
}
.column-8 {
  flex: 0 0 66.66%;
}
.column-9 {
  flex: 0 0 75%;
}
.column-10 {
  flex: 0 0 83.33%;
}
.column-11 {
  flex: 0 0 91.66%;
}
.column-12 {
  flex: 0 0 100%;
}
@media (min-width: 34.37rem) {
  .column-small-1 {
    flex: 0 0 8.33%;
  }
  .column-small-2 {
    flex: 0 0 16.66%;
  }
  .column-small-3 {
    flex: 0 0 25%;
  }
  .column-small-4 {
    flex: 0 0 33.33%;
  }
  .column-small-5 {
    flex: 0 0 41.66%;
  }
  .column-small-6 {
    flex: 0 0 50%;
  }
  .column-small-7 {
    flex: 0 0 58.33%;
  }
  .column-small-8 {
    flex: 0 0 66.66%;
  }
  .column-small-9 {
    flex: 0 0 75%;
  }
  .column-small-10 {
    flex: 0 0 83.33%;
  }
  .column-small-11 {
    flex: 0 0 91.66%;
  }
  .column-small-12 {
    flex: 0 0 100%;
  }
}
@media (min-width: 48rem) {
  .column-medium-1 {
    flex: 0 0 8.33%;
  }
  .column-medium-2 {
    flex: 0 0 16.66%;
  }
  .column-medium-3 {
    flex: 0 0 25%;
  }
  .column-medium-4 {
    flex: 0 0 33.33%;
  }
  .column-medium-5 {
    flex: 0 0 41.66%;
  }
  .column-medium-6 {
    flex: 0 0 50%;
  }
  .column-medium-7 {
    flex: 0 0 58.33%;
  }
  .column-medium-8 {
    flex: 0 0 66.66%;
  }
  .column-medium-9 {
    flex: 0 0 75%;
  }
  .column-medium-10 {
    flex: 0 0 83.33%;
  }
  .column-medium-11 {
    flex: 0 0 91.66%;
  }
  .column-medium-12 {
    flex: 0 0 100%;
  }
}
@media (min-width: 62.5rem) {
  .column-large-1 {
    flex: 0 0 8.33%;
  }
  .column-large-2 {
    flex: 0 0 16.66%;
  }
  .column-large-3 {
    flex: 0 0 25%;
  }
  .column-large-4 {
    flex: 0 0 33.33%;
  }
  .column-large-5 {
    flex: 0 0 41.66%;
  }
  .column-large-6 {
    flex: 0 0 50%;
  }
  .column-large-7 {
    flex: 0 0 58.33%;
  }
  .column-large-8 {
    flex: 0 0 66.66%;
  }
  .column-large-9 {
    flex: 0 0 75%;
  }
  .column-large-10 {
    flex: 0 0 83.33%;
  }
  .column-large-11 {
    flex: 0 0 91.66%;
  }
  .column-large-12 {
    flex: 0 0 100%;
  }
}
@media (min-width: 77.5rem) {
  .column-extra-large-1 {
    flex: 0 0 8.33%;
  }
  .column-extra-large-2 {
    flex: 0 0 16.66%;
  }
  .column-extra-large-3 {
    flex: 0 0 25%;
  }
  .column-extra-large-4 {
    flex: 0 0 33.33%;
  }
  .column-extra-large-5 {
    flex: 0 0 41.66%;
  }
  .column-extra-large-6 {
    flex: 0 0 50%;
  }
  .column-extra-large-7 {
    flex: 0 0 58.33%;
  }
  .column-extra-large-8 {
    flex: 0 0 66.66%;
  }
  .column-extra-large-9 {
    flex: 0 0 75%;
  }
  .column-extra-large-10 {
    flex: 0 0 83.33%;
  }
  .column-extra-large-11 {
    flex: 0 0 91.66%;
  }
  .column-extra-large-12 {
    flex: 0 0 100%;
  }
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-space-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.block {
  display: block;
}
.link {
  font-size: 1rem;
}
.primary-link {
  color: var(--accent-color);
}
.secondary-link {
  color: var(--secondary);
}
.button-row {
  margin: 4rem 0 0 0;
}
.button {
  display: inline-block;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  color: var(--text-color);
  border: 1px solid var(--primary);
  background: transparent;
  text-align: center;
  line-height: 1.6;
}
.button-primary {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--dark);
}
.button-secondary {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--white);
}
.button-width-100 {
  width: 100%;
}
.image {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.border-all {
  border: 1px solid var(--border);
}
.border-right {
  border-right: 1px solid var(--border);
}
.border-left {
  border-left: 1px solid var(--border);
}
.width-100 {
  width: 100%;
}
.section {
  padding: 4rem 0;
}
.section-dark {
  background-color: var(--primary);
}
.section-title {
  color: var(--white);
}
.section-title-small {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4rem;
  color: var(--white);
}
.footer {
  background-color: var(--dark);
}
